# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/

# OS-specific
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Exports
exports/

# Logs
*.log
